.HeroBanner{
    width: 100vw;
    height: 523px;
    background-color: #022063;
    color: white;
    padding-top: 80px;
}

.HeroBanner > .container{
    margin: 150px 100px;
    width: auto;
    justify-content: space-between;
}

/* PARTIE DE GAUCHE : WORDING */
.HeroBanner .Wording{
    margin-top: 50px;
    width: 563px;
}

.HeroBanner .Wording h1{
    font-weight: 900;
    font-size: 29px;
    line-height: 42px;
    margin-bottom: 20px;
}

.HeroBanner .Wording h2{
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.3em;
    margin-bottom: 40px;
}

.Wording .Chiffre{
    align-items: center;
}

.Wording .Chiffre p{
    font-weight: 400;
    font-size: 16px;
}

.Wording .Chiffre p:first-of-type{
    width: 270px;
    font-weight: 900;
    font-size: 43px;
}

